
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="/css/style-profile.css">
    <link rel="stylesheet" href="/css/style-profile-edit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cfd0db899c.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>CT</title>
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="header1">
                <h1> <a href="/users/homepageL">CardTap</a> </h1>
            </div>
            <ul>
                   <li class="li-desktop"> <a href="/users/index3">The Card</a> </li>
            <li class="li-desktop"> <a href="/users/index5">Packages</a> </li>
            <li class="li-desktop"> <a href="/users/index6">About Us</a> </li>
            <li class="hide"> <a href="/users/login">Login</a> </li>
            <li class="hide"> <a href="/users/register">Register</a> </li>
            </ul>
            <span class="nav-button"> <i class="fas fa-bars" style="color:white;"></i> </span>
        </nav>
        <div class="sign">
            <ul>
                <li class="hide"> <a href="/dashboard">Dashboard</a> </li>
                <li class="log-desktop"> <a href="/users/logout">Logout</a> </li>
            </ul>
        </div>
    </div>
    <div class="desktop-container">
        <div class="card-holder">
            <img class="img-desktop-ver" src="/images/myaf2.jpg" alt="">
            <img class="img-mobile-ver" src="/images/myaf.jpeg" alt="">
            <div class="second-part-name">
                <h3>Mohamed Yasser Abdul-Fattah</h3>
                <span>Frontend Developer</span>
            </div>
        </div>
        <a class="card-holder-button" href="contacts/MohamedYasser.vcf" download><i class="fas fa-id-card"></i> Contact Info.</a>
        <div class="h-space"></div>
        <div class="bio">
            <div class="bio-words">
                <%= bio %>
            </div>
        </div>
        <div class="client-social">
            <div class="client-social-links">
                    <%- icons %>
            </div>
        </div>
        <div class="client-other-links">
          <%- links %>
        </div>
    </div>
    <footer>
        <div class="social-links">
            <a href="https://www.instagram.com/cardtap_/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/CardTap-346108156529686" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="mailto:momoteka6089@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </div>
        <div class="other-links">
            <a href="/users/index3">The Card</a>
            <span class="horizontal-space"></span>
            <a href="/users/index5">Packages</a>
            <span class="horizontal-space"></span>
            <a href="/users/index6">About Us</a>
        </div>
        <div class="rights">
            © 2021 CardTap
        </div>

    </footer>


    <script src="js/js.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/profile-edit.js"></script>
</body>
</html>
